@font-face {
    font-family: 'Freckle Face';
    src: url('fonts/FreckleFace-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happy Monkey';
    src: url('fonts/HappyMonkey-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Relief';
    src: url('fonts/ComicRelief-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('img/Backgrounds/background-sunburst.png');
    background-size: 120vw 120vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Freckle Face', cursive, Arial, sans-serif;
}
.body-title {
    position: absolute;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    font-size: 3em;
    color: #8e2a21;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 10;
}

.d-none {
    display: none !important;
}

.canvas-container {
    position: relative;
    display: inline-block;
}

#canvas {
    filter: brightness(0);
    pointer-events: none;
    transition: filter 1s cubic-bezier(.7,-0.2,.3,1.2);
}

canvas {
    background-color: black;
    display: block;
}

.canvas-visible {
    filter: brightness(1) !important;
    pointer-events: auto;
}

@media only screen and (max-width: 720px) {
   canvas,
   #start_screen {
       width: 100%;
       max-width: 100vw;
   }
    .start-screen-title, 
    .story-screen-title,
    .control-screen-title,
    .game-over-screen-title,
    .win-screen-title {
        font-size: 8vw;
        margin-bottom: 4vw;
    }

    #story_textbox p {
        font-size: clamp(0.8em, 2.5vh, 1.3em);
    }

    #control_textbox li {
        font-size: clamp(0.5em, 3.5vw, 1.5em) !important;
    }

    #story_textbox,
    #control_textbox{
        top: -8%;   
    }

    .body-title{
        visibility: hidden;
        height: auto;
    }
}

@media only screen and (max-height: 480px) {
   canvas,
   #start_screen {
       height: 100vh;
       max-height: 100vh;
   }
   .body-title {
        visibility: hidden;
        height: auto;
    }
}
    .paused-border {
    border: 2px solid rgb(125, 22, 14) !important;
}
