.start-screen-btn-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1.2em;
    margin-left: 1.2em;
    padding-bottom:  2em;
} 

.story-screen-buttons,
.control-screen-buttons,
.game-over-screen-buttons,
.win-screen-buttons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    bottom: -0.2em;
    margin-top: -0.5em;
}

.start-screen-btn,
.story-screen-btn,
.control-screen-btn,
.game-over-screen-btn,
.win-screen-btn {
    font-family: 'Happy Monkey', 'Freckle Face', cursive, Arial, sans-serif;
    max-height: 50px;
    max-width: 130%;
    width: 130%;
    font-size: clamp(1em, 2.5vw, 24px);
    cursor: pointer;
    border: 3px solid rgba(255,255,255,1);
    border-radius: 0.25em;
    background: rgba(240, 179, 83, 0.9);
    padding: 0.3em 1.2em;
    color: rgba(10, 19, 29, 1);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2), 18px 16px 32px 0 rgba(0,0,0,0.6), 6px 8px 16px 0 rgba(0,0,0,0.13);
    transition: background 150ms, color 150ms, box-shadow 150ms, transform 150ms;
    position: relative;
    overflow: hidden;
    pointer-events: auto !important;
}

.story-screen-btn,
.control-screen-btn,
.game-over-screen-btn,
.win-screen-btn {
    width: 6.5em;
}

.start-screen-btn:hover,
.story-screen-btn:hover,
.control-screen-btn:hover,
.game-over-screen-btn:hover,
.win-screen-btn:hover {
    background: rgba(47, 104, 116, 0.8) !important;
    color: #fff !important;
    transform: scale(1.06);
    box-shadow: 0 2px 8px rgba(0,0,0,0.18), 6px 6px 12px 0 rgba(0,0,0,0.18);
    transition: background 150ms, color 150ms, box-shadow 150ms, transform 150ms;
}

.start-screen-btn:active,
.story-screen-btn:active,
.control-screen-btn:active,
.game-over-screen-btn:active,
.win-screen-btn:active {
    transform: scale(0.94) translateY(4px);
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    background: #2f6874 !important;
    color: #222 !important;
    transition: background 150ms, color 150ms, box-shadow 150ms, transform 150ms;
    transition: background 150ms, color 150ms, box-shadow 150ms, transform 150ms;

}
.start-screen-btn::after,
.story-screen-btn::after,
.control-screen-btn::after,
.game-over-screen-btn::after,
.win-screen-btn::after {
    content: '';
    position: absolute;
    bottom: -120%;
    left: -120%;
    width: 250%;
    height: 250%;
    background: linear-gradient(120deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.15) 100%);
    opacity: 0;
    pointer-events: none;
    transform: rotate(25deg) translateX(-100%) translateY(100%);
    transition: opacity 150ms, background 150ms;
}

.start-screen-btn:hover::after,
.story-screen-btn:hover::after,
.control-screen-btn:hover::after,
.game-over-screen-btn:hover::after,
.win-screen-btn:hover::after {
    opacity: 1;
    animation: glass-reflect-diag 0.7s linear;
    transition: opacity 150ms, background 150ms;
}