#start_screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  gap: 1em;
  z-index: 100;
  background: url("../../img/Backgrounds/4.png") no-repeat calc(5%) center;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

#story_screen,
#control_screen,
#game_over_screen,
#win_screen,
#legal_notice_screen,
#credits_screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 100;
  background: url("../../img/Backgrounds/4.png") no-repeat 20% center;
  background-size: cover;
  color: #fffbe7;
  font-family: "Freckle Face", cursive, Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

#story_screen > *,
#control_screen > *,
#game_over_screen > *,
#win_screen > *,
#legal_notice_screen > *,
#credits_screen > * {
  position: relative;
  z-index: 2;
}

#story_screen::before,
#control_screen::before,
#game_over_screen::before,
#win_screen::before,
#legal_notice_screen::before,
#credits_screen::before {
  filter: drop-shadow(8px 0 24px rgba(0, 0, 0, 1));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/User Interfaces/PopUPbox.png") no-repeat center
    center;
  background-size: 90% 90%;
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}

.start-screen-title,
.story-screen-title,
.control-screen-title,
.game-over-screen-title,
.win-screen-title,
.legal-notice-title,
.credits-title {
  color: rgb(240, 179, 83);
  font-size: clamp(1.5em, 8vw, 3.5em);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.start-screen-title {
  top: -0.4em;
  margin-top: clamp(-0.3em, 0.5vw, 1.2em);
}

#story_screen .story-screen-title,
#control_screen .control-screen-title,
#game_over_screen .game-over-screen-title,
#win_screen .win-screen-title,
#legal_notice_screen .legal-notice-title,
#credits_screen .credits-title {
  position: absolute;
  top: 2%;
  left: 50%;
  margin: 0;
}

#story_textbox,
#control_textbox,
#game_over_textbox,
#win_textbox,
#legal_notice_textbox,
#credits_textbox {
  width: 65%;
  height: 65%;
  top: -2em;
  left: 0.3em;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  font-size: 1.5em;
  letter-spacing: 0.04em;
  color: #fffbe7;
  pointer-events: none;
}

#control_textbox,
#game_over_textbox,
#win_textbox,
#credits_textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#story_textbox::before,
#story_textbox::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
  z-index: 10;
}

#story_textbox::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(50, 57, 60, 1) 0%,
    rgba(50, 57, 60, 0) 100%
  );
  filter: none;
}

#story_textbox::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(50, 57, 60, 1) 0%,
    rgba(50, 57, 60, 0) 100%
  );
  filter: none;
}

#story_textbox p {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

#start_screen.pre-fade,
#story_screen.pre-fade,
#control_screen.pre-fade,
#game_over_screen.pre-fade,
#win_screen.pre-fade,
#legal_notice_screen.pre-fade,
#credits_screen.pre-fade {
  filter: brightness(0);
  pointer-events: none;
  transition: filter 1s cubic-bezier(0.7, -0.2, 0.3, 1.2);
}

#start_screen.fade-in,
#story_screen.fade-in,
#control_screen.fade-in,
#game_over_screen.fade-in,
#win_screen.fade-in,
#legal_notice_screen.fade-in,
#credits_screen.fade-in {
  filter: brightness(1);
  pointer-events: auto;
  transition: filter 1s cubic-bezier(0.7, -0.2, 0.3, 1.2);
}

#start_screen.fade-out,
#story_screen.fade-out,
#control_screen.fade-out,
#game_over_screen.fade-out,
#win_screen.fade-out,
#legal_notice_screen.fade-out,
#credits_screen.fade-out {
  filter: brightness(0);
  pointer-events: none;
  transition: filter 1s cubic-bezier(0.7, -0.2, 0.3, 1.2);
}

#legal_notice_textbox {
  display: block !important;
  overflow-y: auto !important;
  pointer-events: auto !important;
}

.legal-notice-screen-buttons,
.credits-screen-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

#story_screen .story-screen-buttons,
#control_screen .control-screen-buttons,
#game_over_screen .game-over-screen-buttons,
#win_screen .win-screen-buttons,
#legal_notice_screen .legal-notice-screen-buttons,
#credits_screen .credits-screen-buttons {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

#story_screen #story_textbox,
#control_screen #control_textbox,
#game_over_screen #game_over_textbox,
#win_screen #win_textbox,
#legal_notice_screen #legal_notice_textbox,
#credits_screen #credits_textbox {
  position: absolute;
  top: 19%;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: auto;
  margin: 0;
  pointer-events: auto;
}
